.cursor-pointer {
  cursor: pointer;
}
.productBtn {
  border: none;
  background: transparent;
  color: #e4e6f6;
  font-size: 16px;
  font-weight: 600;
}
.content-padding{
  padding: 20px;
}
.heading {
  font-size: 25px;
  font-weight: 700;
  color: white;
}
.font-14 {
  font-size: 14px;
}
.font-16{
  font-size: 16px;
}
.custom-label {
  background: #03053d;
  color: white;
  font-size: 14px;
  font-weight: 600;
  left: 25px;
  padding: 0 3px;
  position: absolute;
  top: -6px;
  z-index: 1;
}
.customInput {
  background: transparent;
  border: 1px solid #ced4da;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  line-height: 1.5;
  outline: none;
  padding: 0.8rem 1.1rem;
  width: 100%;
}
.customInput:focus {
  border-color: #80bcfc;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.errorText {
  font-size: 12px;
  color: red;
  position: absolute;
}
.saveBtn {
  border: none;
  font-size: 16px;
  color: black;
  background: white;
  border-radius: 8px;
  padding: 10px 30px 10px 30px;
  font-weight: 600;
}
.cancelBtn {
  border: none;
  font-size: 16px;
  color: white;
  background: #6c757d;
  border-radius: 8px;
  padding: 10px 30px 10px 30px;
  font-weight: 600;
}
/* .invnetoryTable .table {
  table-layout: fixed;
  width: 100%;
} */
.invnetoryTable table thead tr th {
  background-color: #050854;
  color: white;
  font-weight: 400;
  padding: 15px;
  font-size: 15px;
  letter-spacing: 1px;
}
.invnetoryTable table tbody tr td {
  background-color: #03053d;
  color: #e0e0e0;
  font-weight: 300;
  padding: 15px;
  font-size: 14px;
  letter-spacing: 1px;
}
.invnetoryTable table thead th {
  border-bottom: none;
}
.invnetoryTable table tbody td {
  border-bottom: 1px solid #484155;
}
.invnetoryTable table tbody tr.redText td {
  color: red;
}
.redText {
  font-size: 14px;
  color: red;
}
.pageheader {
  font-weight: 300;
  font-size: 16px;
  color: white;
}
.horizontal-line {
  color: inherit;
  border: 0;
  border-top: 0.5px solid #eaeaea4d;
  opacity: 0.25;
  margin: 0;
}
.headerWrapper {
  background-color: #303260;
  border-radius: 4px;
  padding: 10px 25px 10px 15px;
  margin-left: 10px;
}
input[type="checkbox"] {
  width: 1.1em;
  height: 1.1rem;
  accent-color: #eaeaea4d;
}
.purchaseOrderTable table thead th {
  background-color: #050854;
  color: white;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
}
.purchaseOrderTable table tbody td {
  color: #2c2c2c;
  font-weight: 400;
  font-size: 14px;
}
.previewPoTable table thead th{
  background-color: #f4f4f4;
  font-size: 15px;
  padding: 12px 15px;
  border: 1px solid #ddd;
}
.previewPoTable table tbody td{
  font-size: 14px;
  padding: 12px 15px;
  border: 1px solid #ddd;
}
.commonColor {
  color: #03053d;
}
.utilizationTable table thead th {
  background-color: #050854;
  color: white;
  font-weight: 500;
  border-width: 0;
  font-size: 15px;
}
.utilizationTable table tbody td{
  font-size: 14px;
}
.customTitle {
  color: #03053d;
}
.searchInput {
  padding-left: 45px !important;
  border-radius: 4px !important;
  background: none !important;
  padding: 0.375rem 1.75rem;
  color: white;
  width: 100%;
  border: 1px solid #aeaeae;
}
.searchInput::placeholder {
  color: #aeaeaecc !important;
  opacity: 1;
  font-size: 14px;
}
.search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
}
.modalTitle {
  font-size: 20px;
  font-weight: bold;
}
.modalBodyHeading {
  font-size: 18px;
  font-weight: 500;
  color: #03053d;
}
.modalBodyParagraph {
  font-size: 16px;
  font-weight: 600;
}
.modal-footer {
  border-top: none;
}
/* .utilizationTable table tbody {
  max-height: 200px;
  overflow-y: auto;
} */
.poButton {
  border: none;
  background: #e4e6f6;
  color: #303260;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  padding: 8px 15px;
}
.customSelect {
  border: 1px solid #aeaeae;
  border-radius: 8px;
  color: #2c2c2c;
  font-size: 14px;
  line-height: 1.5;
  outline: none;
  padding: 0.5rem 0.7rem;
  width: 100%;
}
.submitBtn {
  border: none;
  background-color: #050854;
  border-radius: 4px;
  color: white;
  padding: 10px 40px;
  font-size: 14px;
  font-weight: 600;
}
.previewPoBtn {
  border: 1px solid #050854;
  color: #050854;
  padding: 6px 15px;
  border-radius: 4px;
  font-size: 14px;
  background: none;
  font-weight: 500;
}
.inventoryDetailsPopupWrapper .nav-tabs .nav-link.active {
  color: white;
  background-color: #050854;
  font-weight: 600;
}
.inventoryDetailsPopupWrapper .nav-link{
  color: black;
  border: 1px solid #dee2e6;
}
.custom-nav-tab {
  border-bottom: none !important;
}
.purchaseOrderLists .nav-tabs .nav-link.active{
  color: white;
  background-color:#8b98b1;
  border: none;
  font-weight: 600;
}
.purchaseOrderLists .nav-link{
  color: white;
  border: 1px solid #dee2e6;
}
.deletedVendor {
  font-size: 14px;
  color: grey;
}
.invnetoryTable table tbody tr.deletedVendor td {
  color: grey;
}